.btn-function__back {
    color: var(--text-color);
    background-color: unset;

}

.btn-function__back:hover{
    color: var(--main-color);
    background-color: unset;
}

.btn-function__back-icon {
    vertical-align: top;
}

.btn-function__save,
.btn-function__exit {
    width: 80px;
    text-align: center;
    margin-left: 10px;
}

.btn-function__exit {
    background-color: var(--warning-color);
}

.btn-function__exit:hover {
    background-color: rgba(255, 55, 55, 0.7);
}

/* Box info */
.info-general {
    position: relative;
}

.info-additional {

}

.input-wrapper {
    /* position: relative; */
}

.input-wrapper .input-label,
.input-wrapper .input-text,
.input-wrapper select,
.input-wrapper option {
    display: block;
    width: 100%;
    height: 44px;
    padding: 8px 15px;
}

.input-wrapper .required {
    color: var(--warning-color);
}

/* Select */
.header__search-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #777;
    background-color: #fff;
    color: var(--input-color);
    /* position: relative; */
    height: 44px;
    border-radius: 2px;
}

/* Phần cầu nối */
.header__search-select::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 16px;
    z-index: 1;
    /* background: red; */
}

.header__search-select-label {
    font-size: 16px;
    margin-left: 16px;
}

.header__search-select-icon {
    font-size: 16px;
    color: #adadad;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
    color: var(--input-color);
}

.header__search-btn {
    text-decoration: none;
    /* background-color: var(--primary-color); */
    border: none;
    /*height: 90%;*/
    width: 60px;
    /* border-radius: 3px; */
    margin-right: 2px;
    cursor: pointer;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search-btn:hover {
    /* background-color: var(--secondary-color); */
}

.header__search-btn-icon {
    font-size: 1.8rem;
    /* color: var(--white-color); */
}

/* .header__search-select:hover .header__search-option {
    display: block;
} */

#ckbSelect:checked ~ .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    top: calc(100% - 58px);
    right: 44px;
    left: 50%;
    margin: 0;
    list-style: none;
    /* box-shadow: 0 0 2px var(--primary-color); */
    padding-left: 0;
    border-radius: 2px;
    border: 1px solid #777;
    z-index: 0;
    display: none;
    animation: fadeIn ease-in .1s;
    overflow: hidden;
    background-color: #fff;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    height: 20px;
}

.header__search-option-item {
    /* background-color: var(--white-color); */
    padding: 0 16px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center
    /* border-left: 1px solid transparent; */

}

.header__search-option-item:hover,
.header__search-option-item--active {
    background-color: var(--menu-item-active-bg);
    /* border-left: 2px solid var(--border-color); */
}

.header__search-option-item span {
    font-size: 16px;
    color: var(--input-color);
}

.header__search-option-item i {
    font-size: 16px;
    color: var(--input-color);
    margin-right: 10px;
    /* display: none; */
}

.header__search-option-item--active i {
    display: inline-block;
}
